{{#each shoppingCart.items as |item|}}
  {{item.name}} -- {{item.price}}
  <button class="btn btn-sm btn-danger" {{action 'removeFromCart' item}}>x</button>
{{/each}}
<h1>cost</h1>
{{shoppingCart.total}}
