img{
  max-height: 250px;
  max-width: 275px;
}

#main-content {
  margin-top: 60px;
}

#cart-title {
  margin-top: 0px;
  text-decoration: underline;
}

.admin-image{
  height: 50px;
  width: 50px;
}

.product-tile {
  height: 380px;
  text-align: center;
  background-color: white;
  margin-bottom: 0px;
}

.outer-well {
  padding: 20px;
}

.product-btn {
  position: absolute;
  margin-bottom: 25px;
  margin-left: -60px;
  right: 50;
  bottom: 0;
}

.review-form {
  display: block !important;
}
.product-btns {
  div {
    display: inline;
    .form-group {
      display: block;
      margin-bottom: 15px;
    }
  }
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

th, td {
  max-width: 250px;
}
#product-edit {
  min-width: 245px;
}

.cart-container {
  overflow: auto;
}
.cart{
  overflow: auto;
  height: 40vh;
}
.pad-info{
  margin-bottom: 20px;
}
