img{
  max-height: 250px;
  max-width: 275px;
}

#main-content {
  margin-top: 60px;
}

#cart-title {
  margin-top: 0px;
  text-decoration: underline;
}

.admin-image{
  height: 50px;
  width: 50px;
}

.product-tile {
  height: 380px;
  text-align: center;
  background-color: white;
  margin-bottom: 0px;
}

.outer-well {
  padding: 20px;
}

.product-btn {
  position: absolute;
  /*margin-right:500px;*/
  margin-bottom: 25px;
  margin-left: -60px;
  right: 50;
  bottom: 0;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cart-container {
  overflow: auto;
}
