<div class="row">
  <div class="col-md-9">
    {{product-details saveReview="saveReview" deleteReview="deleteReview"  product=model}}
  </div>
  <div class="col-md-3">
    {{display-cart}}
  </div>
</div>
